<md-toolbar class="">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Edit Article</h2>
  </div>
</md-toolbar>

<md-content layout-padding>
  <div layout="row">
    <form name="addArticle" action="/api/post/article/{{article.id}}" method="post" flex="60" layout="column">
      <md-input-container>
        <label>Title</label>
        <input name="title" value={{article.title}}>
      </md-input-container>
                    <textarea placeholder="Add content here"
                              name="content"
                              rows="25" cols="83"
                              md-select-on-focus>{{article.content}}</textarea>
      <div layout="row">
        <md-button href="/addArticlePage" class="md-primary">add new article</md-button>
        <md-button class="md-primary" type="submit">submit</md-button>
      </div>
    </form>

    <md-list flex-offset="5">
      <md-toolbar md-scroll-shrink class="md-hue-1">
        <div class="md-toolbar-tools">
          <h3>Click published articles to edit them:</h3>
        </div>
      </md-toolbar>
      <!--<md-subheader class="md-no-sticky"><h3>Click published articles to edit them:</h3></md-subheader>-->
      {{#each articles}}
        <md-list-item class="md-3-line">
          <div class="md-list-item-text" layout="column">
            <h4>Article Title: {{ title }}</h4>
            <p>Published Date: {{ date }}</p>
            <div layout="row">
              <md-button href="/editArticlePage/{{_id}}" flex="10" class="md-primary md-mini">Edit</md-button>
              <md-button href="/api/delete/article/{{_id}}" flex="10" class="md-primary md-mini">Delete</md-button>
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      {{/each}}
    </md-list>

  </div>
</md-content>
